RABBIT_MQ_USER=
RABBIT_MQ_PASSWORD=

RABBIT_MQ_HOST=<Provided>
RABBIT_MQ_PORT=5672
RABBIT_MQ_EXCHANGE=scada_data
RABBIT_MQ_QUEUE=scada_data_queue
RABBIT_MQ_ROUTING_KEY=scada.tag.data

RABBIT_MQ_HEALTH_DATA_QUEUE=sensor_health_data_queue
RABBIT_MQ_HEALTH_DATA_ROUTING_KEY=scada.sensor.health

INFLUX_DB_URL=http://influxdb:8086
INFLUX_DB_TOKEN=
INFLUX_DB_ORG=my-org
INFLUX_DB_BUCKET_NS=scada_bucket
INFLUX_DB_MEASUREMENT=sensor_data
INFLUX_DB_HEALTH_DATA_MEASUREMENT=sensor_health_data
INFLUX_DB_USERNAME=
INFLUX_DB_PASSWORD=